/* html {font-size: 80%;} */
body {background-color: #dedede;}
div {margin-bottom: 6rem;}
p {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;

    display: inline;
    font-size: 8rem;
    margin-right: -.2rem;
    margin-left: -.2rem;
    line-height: 9.5rem;

    color: rgba(0, 0, 0, 0);
    animation-name: moji;
    animation-timing-function: cubic-bezier(0,1,.8,1);
    animation-duration: .4s;
    position: relative;
    animation-fill-mode:forwards;
}
.small {
    margin-right: -1rem;
    margin-left: -1rem;

    color: rgba(0, 0, 0, 0);
    animation-name: moji-s;
    animation-timing-function: cubic-bezier(0,1,.8,1);
    animation-duration: .4s;
    position: relative;
    animation-fill-mode:forwards;
}



#title {display: none;}
#div0 {opacity: 1;}


#div1,#div2,#div3,#div4,#div5,#div6,#div7,#div8,#div9,#div10,#div11,#div12,#div13,#div14,#div15,#div16,#div17,#div18,#div19,#div20,#div20-1,#div20-2 {
    opacity: 0;
    position: fixed;
    width: 200%;
    height: 200%;
}
#div0 {
    position: fixed;
    width: 200%;
    height: 200%;
}

.k {
    line-height: 9.5rem;
    height: 8rem;
    margin-left: -.2rem;
    margin-right: -.2rem;
    margin-bottom: -.75rem;
    display: inline-block;
    background-color: black;
    animation-timing-function: cubic-bezier(0,1,.5,1);
    animation-fill-mode:forwards;
}

@keyframes kuro0 {
    0% {width: 0rem; margin-right: 45.6rem;}
    1% {width: 20rem; margin-right: 25.6rem;}
    100% {width: 45.6rem; margin-right: 0rem;}}
#div0 .t1 {
    animation-name: kuro0;
    width: 45.6rem;
    animation-duration: .87s;}
#div0 .t2 {animation-delay: calc(.87s + (0 * (1s/30)));}
#div0 .t3 {animation-delay: calc(.87s + (1 * (1s/30)));}
#div0 .t4 {animation-delay: calc(.87s + (2 * (1s/30)));}
#div0 .t5 {animation-delay: calc(.87s + (3 * (1s/30)));}
#div0 .t6 {animation-delay: calc(.87s + (4 * (1s/30)));}
#div0 .t7 {animation-delay: calc(.87s + (5 * (1s/30)));}
#div0 .t8 {animation-delay: calc(.87s + (6 * (1s/30)));}
#div0 .t9 {animation-delay: calc(.87s + (7 * (1s/30)));}
#div0 .t10 {animation-delay: calc(.87s + (8 * (1s/30)));}
#div0 .t11 {animation-delay: calc(.87s + (9 * (1s/30)));}
#div0 .t12 {animation-delay: calc(.87s + (10 * (1s/30)));}
#div0 .t13 {animation-delay: calc(.87s + (11 * (1s/30)));}
#div0 .t14 {animation-delay: calc(.87s + (12 * (1s/30)));}


#div0 {
    animation: next 0s linear 5.18s reverse;
    animation-fill-mode:forwards;
}
#div1 {
    animation:
        next 0s linear 5.18s,
        next 0s linear 10.35s reverse;
    animation-fill-mode:forwards;
}


@keyframes kuro1 {
    0% {width: 0rem; margin-right: 12rem;}
    1% {width: 7.6rem; margin-right: 4.4rem;}
    100% {width: 12rem; margin-right: 0rem;}}
#div1 .t0 {
    animation-name: kuro1;
    width: 12rem;
    animation-delay: 5.18s;
    animation-duration: .32s;}
#div1 .t1 {animation-delay: calc(5.50s + (1 * (1s/30)));}
#div1 .t2 {animation-delay: calc(5.50s + (1 * (1s/30)));}
#div1 .t3 {animation-delay: calc(5.50s + (2 * (1s/30)));}
#div1 .t4 {animation-delay: calc(5.50s + (3 * (1s/30)));}
#div1 .t5 {animation-delay: calc(5.50s + (4 * (1s/30)));}
#div1 .t6 {animation-delay: calc(5.50s + (5 * (1s/30)));}
#div1 .t7 {animation-delay: calc(5.50s + (6 * (1s/30)));}
#div1 .t8 {animation-delay: calc(5.50s + (7 * (1s/30)));}
#div1 .t9 {animation-delay: calc(5.50s + (8 * (1s/30)));}
#div1 .t10 {animation-delay: calc(5.50s + (9 * (1s/30)));}
#div1 .t11 {animation-delay: calc(5.50s + (10 * (1s/30)));}
#div1 .t12 {animation-delay: calc(5.50s + (11 * (1s/30)));}
#div1 .t13 {animation-delay: calc(5.50s + (12 * (1s/30)));}
#div1 .t14 {animation-delay: calc(5.50s + (12 * (1s/30)));}


#div2 {
    animation:
        next 0s linear 10.35s,
        next 0s linear 15.56s reverse;
    animation-fill-mode:forwards;
}


#div2 .t1 {animation-delay: calc(10.35s + (0 * (1s/30)));}
#div2 .t2 {animation-delay: calc(10.35s + (1 * (1s/30)));}
#div2 .t3 {animation-delay: calc(10.35s + (2 * (1s/30)));}
#div2 .t4 {animation-delay: calc(10.35s + (3 * (1s/30)));}
#div2 .t5 {animation-delay: calc(10.35s + (4 * (1s/30)));}
#div2 .t6 {animation-delay: calc(10.35s + (5 * (1s/30)));}
#div2 .t7 {animation-delay: calc(10.35s + (6 * (1s/30)));}
#div2 .t8 {animation-delay: calc(10.35s + (7 * (1s/30)));}
#div2 .t9 {animation-delay: calc(10.35s + (8 * (1s/30)));}
#div2 .t10 {animation-delay: calc(10.35s + (9 * (1s/30)));}
@keyframes kuro2 {
    0% {width: 0rem; margin-right: 22.8rem;}
    1% {width: 7.6rem; margin-right: 15.2rem;}
    100% {width: 22.8rem; margin-right: 0rem;}}
#div2 .t11 {
    animation-name: kuro2;
    animation-duration: .57s;
    animation-delay: 12.16s;
}
#div2 .t12 {animation-delay: calc(12.73s + (11 * (1s/30)));}
#div2 .t13 {animation-delay: calc(12.73s + (12 * (1s/30)));}
#div2 .t14 {animation-delay: calc(12.73s + (13 * (1s/30)));}
#div2 .t15 {animation-delay: calc(12.73s + (14 * (1s/30)));}
#div2 .t16 {animation-delay: calc(12.73s + (15 * (1s/30)));}


#div3 {
    animation:
        next 0s linear 15.56s,
        next 0s linear 18.16s reverse;
    animation-fill-mode:forwards;
}


@keyframes kuro3 {
    0% {width: 0rem; margin-right: 15.2rem;}
    1% {width: 7.6rem; margin-right: 7.6rem;}
    100% {width: 15.2rem; margin-right: 0rem;}}
#div3 .t0 {
    animation-name: kuro3;
    width: 15.2rem;
    animation-delay: 15.56s;
    animation-duration: .29s;}
#div3 .t1 {animation-delay: calc(15.86s + (0 * (1s/30)));}
#div3 .t2 {animation-delay: calc(15.86s + (1 * (1s/30)));}
#div3 .t3 {animation-delay: calc(15.86s + (2 * (1s/30)));}
#div3 .t4 {animation-delay: calc(15.86s + (3 * (1s/30)));}
#div3 .t5 {animation-delay: calc(15.86s + (4 * (1s/30)));}
#div3 .t6 {animation-delay: calc(15.86s + (5 * (1s/30)));}
#div3 .t7 {animation-delay: calc(15.86s + (6 * (1s/30)));}
#div3 .t8 {animation-delay: calc(15.86s + (7 * (1s/30)));}
#div3 .t9 {animation-delay: calc(15.86s + (8 * (1s/30)));}
#div3 .t10 {animation-delay: calc(15.86s + (9 * (1s/30)));}
#div3 .t11 {animation-delay: calc(15.86s + (10 * (1s/30)));}


#div4 {
    animation:
        next 0s linear 20.75s,
        next 0s linear 25.93s reverse;
    animation-fill-mode:forwards;
}


#div4 .t0 {animation-delay: calc(20.75s + (0 * (1s/30)));}
#div4 .t1 {animation-delay: calc(20.75s + (1 * (1s/30)));}
#div4 .t2 {animation-delay: calc(20.75s + (2 * (1s/30)));}
#div4 .t3 {animation-delay: calc(20.75s + (3 * (1s/30)));}
#div4 .t4 {animation-delay: calc(20.75s + (4 * (1s/30)));}
#div4 .t5 {animation-delay: calc(20.75s + (5 * (1s/30)));}
#div4 .t6 {animation-delay: calc(20.75s + (6 * (1s/30)));}
#div4 .t7 {animation-delay: calc(20.75s + (7 * (1s/30)));}
#div4 .t8 {animation-delay: calc(20.75s + (8 * (1s/30)));}
#div4 .t9 {animation-delay: calc(20.75s + (9 * (1s/30)));}
#div4 .t10 {animation-delay: calc(20.75s + (10 * (1s/30)));}
#div4 .t11 {animation-delay: calc(20.75s + (11 * (1s/30)));}
#div4 .t12 {animation-delay: calc(20.75s + (12 * (1s/30)));}
#div4 .t13 {animation-delay: calc(20.75s + (13 * (1s/30)));}
#div4 .t14 {animation-delay: calc(20.75s + (14 * (1s/30)));}
#div4 .t15 {animation-delay: calc(20.75s + (15 * (1s/30)));}
#div4 .t16 {animation-delay: calc(20.75s + (16 * (1s/30)));}
#div4 .t17 {animation-delay: calc(20.75s + (17 * (1s/30)));}
#div4 .t18 {animation-delay: calc(20.75s + (18 * (1s/30)));}
#div4 .t19 {animation-delay: calc(20.75s + (19 * (1s/30)));}
#div4 .t20 {animation-delay: calc(20.75s + (20 * (1s/30)));}


#div5 {
    animation:
        next 0s linear 25.93s,
        next 0s linear 31.08s reverse;
    animation-fill-mode:forwards;
}


#div5 .t0 {animation-delay: calc(25.93s + (0 * (1s/30)));}
#div5 .t1 {animation-delay: calc(25.93s + (1 * (1s/30)));}
#div5 .t2 {animation-delay: calc(25.93s + (2 * (1s/30)));}
#div5 .t3 {animation-delay: calc(25.93s + (3 * (1s/30)));}
#div5 .t4 {animation-delay: calc(25.93s + (4 * (1s/30)));}
#div5 .t5 {animation-delay: calc(25.93s + (5 * (1s/30)));}
#div5 .t6 {animation-delay: calc(25.93s + (6 * (1s/30)));}
#div5 .t7 {animation-delay: calc(25.93s + (7 * (1s/30)));}
#div5 .t8 {animation-delay: calc(25.93s + (8 * (1s/30)));}
#div5 .t9 {animation-delay: calc(25.93s + (9 * (1s/30)));}
#div5 .t10 {animation-delay: calc(25.93s + (10 * (1s/30)));}
#div5 .t11 {animation-delay: calc(25.93s + (11 * (1s/30)));}
#div5 .t12 {animation-delay: calc(25.93s + (12 * (1s/30)));}
#div5 .t13 {animation-delay: calc(25.93s + (13 * (1s/30)));}
#div5 .t14 {animation-delay: calc(25.93s + (14 * (1s/30)));}
#div5 .t15 {animation-delay: calc(25.93s + (15 * (1s/30)));}
#div5 .t16 {animation-delay: calc(25.93s + (16 * (1s/30)));}
#div5 .t17 {animation-delay: calc(25.93s + (17 * (1s/30)));}
#div5 .t18 {animation-delay: calc(25.93s + (18 * (1s/30)));}
#div5 .t19 {animation-delay: calc(25.93s + (19 * (1s/30)));}
#div5 .t20 {animation-delay: calc(25.93s + (20 * (1s/30)));}
#div5 .t21 {animation-delay: calc(25.93s + (21 * (1s/30)));}


#div6 {
    animation:
        next 0s linear 31.08s,
        next 0s linear 36.31s reverse;
    animation-fill-mode:forwards;
}


#div6 .t0 {animation-delay: calc(31.08s + (0 * (1s/30)));}
#div6 .t1 {animation-delay: calc(31.08s + (1 * (1s/30)));}
#div6 .t2 {animation-delay: calc(31.08s + (2 * (1s/30)));}
#div6 .t3 {animation-delay: calc(31.08s + (3 * (1s/30)));}
#div6 .t4 {animation-delay: calc(31.08s + (4 * (1s/30)));}
#div6 .t5 {animation-delay: calc(31.08s + (5 * (1s/30)));}
#div6 .t6 {animation-delay: calc(31.08s + (6 * (1s/30)));}
#div6 .t7 {animation-delay: calc(31.08s + (7 * (1s/30)));}
#div6 .t8 {animation-delay: calc(31.08s + (8 * (1s/30)));}
#div6 .t9 {animation-delay: calc(31.08s + (9 * (1s/30)));}
#div6 .t10 {animation-delay: calc(31.08s + (10 * (1s/30)));}
#div6 .t11 {animation-delay: calc(31.08s + (11 * (1s/30)));}
#div6 .t12 {animation-delay: calc(31.08s + (12 * (1s/30)));}
#div6 .t13 {animation-delay: calc(31.08s + (13 * (1s/30)));}
#div6 .t14 {animation-delay: calc(31.08s + (14 * (1s/30)));}
#div6 .t15 {animation-delay: calc(31.08s + (15 * (1s/30)));}
#div6 .t16 {animation-delay: calc(31.08s + (16 * (1s/30)));}


#div7 {
    animation:
        next 0s linear 36.31s,
        next 0s linear 41.05s reverse;
    animation-fill-mode:forwards;
}


#div7 .t0 {animation-delay: calc(36.31s + (0 * (1s/30)));}
#div7 .t1 {animation-delay: calc(36.31s + (1 * (1s/30)));}
#div7 .t2 {animation-delay: calc(36.31s + (2 * (1s/30)));}
#div7 .t3 {animation-delay: calc(36.31s + (3 * (1s/30)));}
#div7 .t4 {animation-delay: calc(36.31s + (4 * (1s/30)));}
#div7 .t5 {animation-delay: calc(36.31s + (5 * (1s/30)));}
#div7 .t6 {animation-delay: calc(36.31s + (6 * (1s/30)));}
#div7 .t7 {animation-delay: calc(36.31s + (7 * (1s/30)));}
#div7 .t8 {animation-delay: calc(36.31s + (8 * (1s/30)));}
#div7 .t9 {animation-delay: calc(36.31s + (9 * (1s/30)));}
#div7 .t10 {animation-delay: calc(36.31s + (10 * (1s/30)));}
#div7 .t11 {animation-delay: calc(36.31s + (11 * (1s/30)));}
#div7 .t12 {animation-delay: calc(36.31s + (12 * (1s/30)));}
#div7 .t13 {animation-delay: calc(36.31s + (13 * (1s/30)));}
#div7 .t14 {animation-delay: calc(36.31s + (14 * (1s/30)));}
#div7 .t15 {animation-delay: calc(36.31s + (15 * (1s/30)));}
#div7 .t16 {animation-delay: calc(36.31s + (16 * (1s/30)));}
#div7 .t17 {animation-delay: calc(36.31s + (17 * (1s/30)));}


#div8 {
    animation:
        next 0s linear 41.05s,
        next 0s linear 41.51s reverse;
    animation-fill-mode:forwards;
}

#div8 p {animation-delay: calc(41.05s + (0 * (1s/30)));}


#div9 {
    animation:
        next 0s linear 41.51s,
        next 0s linear 46.68s reverse;
    animation-fill-mode:forwards;
}


@keyframes kuro4 {
    0% {width: 0rem; margin-right: 7.6rem;}
    100% {width: 7.6rem; margin-right: 0rem;}}
#div9 .t0 {
    animation-name: kuro4;
    width: 7.6rem;
    animation-delay: 41.51s;
    animation-duration: .2s;}
#div9 .t1 {animation-delay: calc(41.71s + (0 * (1s/30)));}
#div9 .t2 {animation-delay: calc(41.71s + (1 * (1s/30)));}
#div9 .t3 {animation-delay: calc(41.71s + (2 * (1s/30)));}
#div9 .t4 {animation-delay: calc(41.71s + (3 * (1s/30)));}
@keyframes kuro5 {
    0% {width: 0rem; margin-right: 20rem;}
    1% {width: 7rem; margin-right: 13rem;}
    100% {width: 20rem; margin-right: 0rem;}}
#div9 .t5 {
    animation-name: kuro5;
    margin-right: 20rem;
    animation-delay: 42.61s;
    animation-duration: .77s;}
#div9 .t6 {animation-delay: calc(43.38s + (0 * (1s/30)));}
#div9 .t7 {animation-delay: calc(43.38s + (1 * (1s/30)));}
#div9 .t8 {animation-delay: calc(43.38s + (2 * (1s/30)));}
#div9 .t9 {animation-delay: calc(43.38s + (3 * (1s/30)));}
#div9 .t10 {animation-delay: calc(43.38s + (4 * (1s/30)));}
#div9 .t11 {animation-delay: calc(43.38s + (5 * (1s/30)));}
#div9 .t12 {animation-delay: calc(43.38s + (6 * (1s/30)));}
#div9 .t13 {animation-delay: calc(43.38s + (7 * (1s/30)));}
#div9 .t14 {animation-delay: calc(43.38s + (8 * (1s/30)));}
#div9 .t15 {animation-delay: calc(43.38s + (9 * (1s/30)));}
#div9 .t16 {animation-delay: calc(43.38s + (10 * (1s/30)));}

#div10 {
    animation:
        next 0s linear 46.68s,
        next 0s linear 49.30s reverse;
    animation-fill-mode:forwards;
}


#div10 .t0 {animation-delay: calc(46.68s + (0 * (1s/30)));}
#div10 .t1 {animation-delay: calc(46.68s + (1 * (1s/30)));}
#div10 .t2 {animation-delay: calc(46.68s + (2 * (1s/30)));}
#div10 .t3 {animation-delay: calc(46.68s + (3 * (1s/30)));}
#div10 .t4 {animation-delay: calc(46.68s + (4 * (1s/30)));}
#div10 .t5 {animation-delay: calc(46.68s + (5 * (1s/30)));}
#div10 .t6 {animation-delay: calc(46.68s + (6 * (1s/30)));}
#div10 .t7 {animation-delay: calc(46.68s + (7 * (1s/30)));}
#div10 .t8 {animation-delay: calc(46.68s + (8 * (1s/30)));}
#div10 .t9 {animation-delay: calc(46.68s + (9 * (1s/30)));}
#div10 .t10 {animation-delay: calc(46.68s + (10 * (1s/30)));}
#div10 .t11 {animation-delay: calc(46.68s + (11 * (1s/30)));}
#div10 .t12 {animation-delay: calc(46.68s + (12 * (1s/30)));}


#div11 {
    animation:
        next 0s linear 50.60s,
        next 0s linear 55.76s reverse;
    animation-fill-mode:forwards;
}


#div11 .t0 {animation-delay: calc(50.60s + (0 * (1s/30)));}
#div11 .t1 {animation-delay: calc(50.60s + (1 * (1s/30)));}
#div11 .t2 {animation-delay: calc(50.60s + (2 * (1s/30)));}
#div11 .t3 {animation-delay: calc(50.60s + (3 * (1s/30)));}
#div11 .t4 {animation-delay: calc(50.60s + (4 * (1s/30)));}
#div11 .t5 {animation-delay: calc(50.60s + (5 * (1s/30)));}
#div11 .t6 {animation-delay: calc(50.60s + (6 * (1s/30)));}
#div11 .t7 {animation-delay: calc(50.60s + (7 * (1s/30)));}
#div11 .t8 {animation-delay: calc(50.60s + (8 * (1s/30)));}
#div11 .t9 {animation-delay: calc(50.60s + (9 * (1s/30)));}
#div11 .t10 {animation-delay: calc(50.60s + (10 * (1s/30)));}
#div11 .t11 {animation-delay: calc(50.60s + (11 * (1s/30)));}
#div11 .t12 {animation-delay: calc(50.60s + (12 * (1s/30)));}
#div11 .t13 {animation-delay: calc(50.60s + (13 * (1s/30)));}
#div11 .t14 {animation-delay: calc(50.60s + (14 * (1s/30)));}
#div11 .t15 {animation-delay: calc(50.60s + (15 * (1s/30)));}
#div11 .t16 {animation-delay: calc(50.60s + (16 * (1s/30)));}
#div11 .t17 {animation-delay: calc(50.60s + (17 * (1s/30)));}
#div11 .t18 {animation-delay: calc(50.60s + (18 * (1s/30)));}
#div11 .t19 {animation-delay: calc(50.60s + (19 * (1s/30)));}
#div11 .t20 {animation-delay: calc(50.60s + (20 * (1s/30)));}
#div11 .t21 {animation-delay: calc(50.60s + (21 * (1s/30)));}
#div11 .t22 {animation-delay: calc(50.60s + (22 * (1s/30)));}
#div11 .t23 {animation-delay: calc(50.60s + (23 * (1s/30)));}


#div12 {
    animation:
        next 0s linear 55.76s,
        next 0s linear 60.63s reverse;
    animation-fill-mode:forwards;
}


#div12 .t0 {animation-delay: calc(55.76s + (0 * (1s/30)));}
#div12 .t1 {animation-delay: calc(55.76s + (1 * (1s/30)));}
#div12 .t2 {animation-delay: calc(55.76s + (2 * (1s/30)));}
#div12 .t3 {animation-delay: calc(55.76s + (3 * (1s/30)));}
#div12 .t4 {animation-delay: calc(55.76s + (4 * (1s/30)));}
#div12 .t5 {animation-delay: calc(55.76s + (5 * (1s/30)));}
#div12 .t6 {animation-delay: calc(55.76s + (6 * (1s/30)));}
#div12 .t7 {animation-delay: calc(55.76s + (7 * (1s/30)));}
#div12 .t8 {animation-delay: calc(55.76s + (8 * (1s/30)));}
#div12 .t9 {animation-delay: calc(55.76s + (9 * (1s/30)));}
#div12 .t10 {animation-delay: calc(55.76s + (10 * (1s/30)));}
#div12 .t11 {animation-delay: calc(55.76s + (11 * (1s/30)));}
#div12 .t12 {animation-delay: calc(55.76s + (12 * (1s/30)));}
#div12 .t13 {animation-delay: calc(55.76s + (13 * (1s/30)));}
#div12 .t14 {animation-delay: calc(55.76s + (14 * (1s/30)));}
#div12 .t15 {animation-delay: calc(55.76s + (15 * (1s/30)));}
#div12 .t16 {animation-delay: calc(55.76s + (16 * (1s/30)));}
#div12 .t17 {animation-delay: calc(55.76s + (17 * (1s/30)));}
#div12 .t18 {animation-delay: calc(55.76s + (18 * (1s/30)));}


#div13 {
    animation:
        next 0s linear 60.86s,
        next 0s linear 63.40s reverse;
    animation-fill-mode:forwards;
}


#div13 .t0 {
    animation-name: kuro4;
    margin-right: 7.6rem;
    animation-delay: 60.86s;
    animation-duration: .4s;}
#div13 .t1 {animation-delay: calc(60.96s + (0 * (1s/30)));}
#div13 .t2 {animation-delay: calc(60.96s + (1 * (1s/30)));}
#div13 .t3 {
    animation-name: kuro4;
    margin-right: 7.6rem;
    animation-delay: 61.20s;
    animation-duration: .4s;}
#div13 .t4 {animation-delay: calc(61.33s + (0 * (1s/30)));}
#div13 .t5 {animation-delay: calc(61.33s + (1 * (1s/30)));}
@keyframes kuro6 {
    0% {width: 0rem; margin-right: 14rem;}
    100% {width: 14rem; margin-right: 0rem;}}
#div13 .t6 {
    animation-name: kuro6;
    margin-right: 14rem;
    animation-delay: 61.66s;
    animation-duration: .4s;}
#div13 .t7 {animation-delay: calc(61.60s + (0 * (1s/30)));}
#div13 .t8 {animation-delay: calc(61.60s + (1 * (1s/30)));}
#div13 .t9 {
    animation-name: kuro4;
    margin-right: 7.6rem;
    animation-delay: 62.33s;
    animation-duration: .4s;}
#div13 .t10 {animation-delay: calc(61.98s + (0 * (1s/30)));}
#div13 .t11 {animation-delay: calc(61.98s + (1 * (1s/30)));}
#div13 .t12 {animation-delay: calc(61.98s + (2 * (1s/30)));}
#div13 .t13 {animation-delay: calc(61.98s + (3 * (1s/30)));}


#div14 {
    animation:
        next 0s linear 63.40s,
        next 0s linear 66.01s reverse;
    animation-fill-mode:forwards;
}


#div14 .t0 {
    animation-name: kuro4;
    margin-right: 7.6rem;
    animation-delay: 63.40s;
    animation-duration: .4s;}
#div14 .t1 {animation-delay: calc(63.40s + (1 * (1s/30)));}
#div14 .t2 {animation-delay: calc(63.40s + (2 * (1s/30)));}
#div14 .t3 {animation-delay: calc(63.40s + (3 * (1s/30)));}
#div14 .t4 {
    animation-name: kuro4;
    margin-right: 7.6rem;
    animation-delay: 63.96s;
    animation-duration: .4s;}
#div14 .t5 {animation-delay: calc(63.83s + (5 * (1s/30)));}
#div14 .t6 {animation-delay: calc(63.83s + (6 * (1s/30)));}
#div14 .t7 {animation-delay: calc(63.83s + (7 * (1s/30)));}
#div14 .t8 {
    animation-name: kuro6;
    margin-right: 14rem;
    animation-delay: 64.70s;
    animation-duration: .4s;}
#div14 .t9 {animation-delay: calc(64.53s + (9 * (1s/30)));}
#div14 .t10 {animation-delay: calc(64.53s + (10 * (1s/30)));}


#div15 {
    animation:
        next 0s linear 66.01s,
        next 0s linear 68.61s reverse;
    animation-fill-mode:forwards;
}


#div15 .t0 {
    animation-name: kuro6;
    margin-right: 14rem;
    animation-delay: 66.01s;
    animation-duration: .4s;}
#div15 .t1 {animation-delay: 66.08s;}
#div15 .t2 {
    animation-name: kuro4;
    margin-right: 7.6rem;
    animation-delay: 66.41s;
    animation-duration: .2s;}
#div15 .t3 {animation-delay: calc(66.31s + (0 * (1s/30)));}
#div15 .t4 {
    animation-name: kuro6;
    margin-right: 14rem;
    animation-delay: 66.81s;
    animation-duration: .4s;}
#div15 .t5 {animation-delay: calc(66.51s + (0 * (1s/30)));}
#div15 .t6 {animation-delay: calc(66.51s + (1 * (1s/30)));}
#div15 .t7 {
    animation-name: kuro4;
    margin-right: 7.6rem;
    animation-delay: 67.31s;
    animation-duration: .2s;}
#div15 .t8 {animation-delay: calc(66.58s + (0 * (1s/30)));}
#div15 .t9 {animation-delay: calc(66.58s + (1 * (1s/30)));}
#div15 .t10 {animation-delay: calc(66.88s + (0 * (1s/30)));}
#div15 .t11 {animation-delay: calc(66.88s + (1 * (1s/30)));}
#div15 .t12 {animation-delay: calc(66.88s + (2 * (1s/30)));}


#div16 {
    animation:
        next 0s linear 68.61s,
        next 0s linear 71.18s reverse;
    animation-fill-mode:forwards;
}


#div16 .t0 {
    animation-name: kuro6;
    margin-right: 14rem;
    animation-delay: 68.61s;
    animation-duration: .4s;}
#div16 .t1 {animation-delay: calc(68.68s + (0 * (1s/30)));}
#div16 .t2 {animation-delay: calc(68.68s + (1 * (1s/30)));}
#div16 .t3 {
    animation-name: kuro4;
    margin-right: 7.6rem;
    animation-delay: 69.25s;
    animation-duration: .2s;}
#div16 .t4 {animation-delay: calc(68.95s + (0 * (1s/30)));}
#div16 .t5 {animation-delay: calc(68.95s + (1 * (1s/30)));}
#div16 .t6 {animation-delay: calc(68.95s + (2 * (1s/30)));}
#div16 .t7 {
    animation-name: kuro6;
    margin-right: 14rem;
    animation-delay: 69.81s;
    animation-duration: .4s;}
#div16 .t8 {animation-delay: calc(69.41s + (0 * (1s/30)));}
#div16 .t9 {animation-delay: calc(69.41s + (1 * (1s/30)));}
#div16 .t10 {animation-delay: calc(69.41s + (2 * (1s/30)));}


#div17 {
    animation:
        next 0s linear 71.18s,
        next 0s linear 73.95s reverse;
    animation-fill-mode:forwards;
}


#div17 .t0 {
    animation-name: kuro6;
    margin-right: 14rem;
    animation-delay: 71.18s;
    animation-duration: .4s;}
#div17 .t1 {animation-delay: calc(71.28s + (0 * (1s/30)));}
#div17 .t2 {animation-delay: calc(71.28s + (1 * (1s/30)));}
#div17 .t3 {
    animation-name: kuro4;
    margin-right: 7.6rem;
    animation-delay: 71.85s;
    animation-duration: .2s;}
#div17 .t4 {animation-delay: calc(71.71s + (0 * (1s/30)));}
#div17 .t5 {animation-delay: calc(71.71s + (1 * (1s/30)));}
#div17 .t6 {
    animation-name: kuro6;
    margin-right: 14rem;
    animation-delay: 72.48s;
    animation-duration: .4s;}
#div17 .t7 {animation-delay: calc(72.15s + (0 * (1s/30)));}
#div17 .t8 {animation-delay: calc(72.15s + (1 * (1s/30)));}
#div17 .t9 {
    animation-name: kuro6;
    margin-right: 14rem;
    animation-delay: 73.08s;
    animation-duration: .4s;}
#div17 .t10 {animation-delay: calc(72.68s + (0 * (1s/30)));}
#div17 .t11 {animation-delay: calc(72.68s + (1 * (1s/30)));}
#div17 .t12 {animation-delay: calc(72.68s + (2 * (1s/30)));}




























@keyframes moji {
    0% {margin-left: 2rem; color: black;}
    100% {margin-left: -.2rem; color: black;}
}
@keyframes moji-s {
    0% {margin-left: 1.2rem; color: black;}
    100% {margin-left: -1rem; color: black;}
}
@keyframes next {
    0% {opacity: 0;}
    100%{opacity: 1;}
}